# PROJECT: dolphin
# VERSION: 1.0.0
# Author: wangxiang4

# https://support.websoft9.com/docs/docker/zh/solution-compose.html#command
version: '3'
services:
  # mysql 服务器
  mysql:
    image: mysql:5.7.32
    container_name: mysql
    hostname: mysql
    environment:
      TZ: Asia/Shanghai
      MYSQL_ROOT_PASSWORD: '******'
    command:
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_general_ci
      --explicit_defaults_for_timestamp=true
      --lower_case_table_names=1
      --max_allowed_packet=128M
    volumes:
      - mysql:/var/lib/mysql
      - /usr/software/dockerDatabase/mysql/my.cnf:/etc/my.cnf
    restart: always
    ports:
      - 8052:3306

# 配置卷
volumes:
  mysql:
    driver: local
