version: "3"
services:
  jenkins:
    build:
      context: ./image
    container_name: jenkins
    image: jenkins
    hostname: jenkins
    restart: always
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker
      - /usr/local/bin/docker-compose:/usr/local/bin/docker-compose
    ports:
      - 2023:8080

volumes:
  jenkins_home:
